.usuarios-container{
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
.usuarios-content{
  padding: 40px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 100px;

}
.usuarios-content .usuarios-cards{
  display: flex;
  gap: 15px;
  height: 200px;
}
.usuarios-content .usuarios-cards .usuarios-card{
  flex: 1;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.usuarios-content table{
  overflow: hidden;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.usuarios-content thead{
  background-color: transparent;
  padding-right: 8px;
}
.usuarios-content thead tr{
  display: flex;
  background-color: #2d3e50;
  border-top-right-radius: 10px;
}
.usuarios-content th{
  flex: 1;
  color: #FFF;
  position: relative;
}
.usuarios-content tr:has(td){
  display: flex;
  background-color: #FFF;
  transition: .3s;
}
.usuarios-content td {
  flex: 1;
  border-top: none;
  display: flex;
}
.usuarios-content #tipoSangue{
  max-width: 154px;
}
.usuarios-content #acoes{
  max-width: 122px;
}
.usuarios-content #notificacao{
  max-width: 42px;
}
.usuarios-content tbody{
  max-height: 100%;
  overflow-y: auto;
}
  .edit-button, .delete-button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .edit-button {
    background-color: #18bc9c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.edit-button:hover {
    background-color: #16a085;
}

  .delete-button {
    background-color: #e74c3c;
    color: white;
  }
  
  .loader {
    text-align: center;
    font-size: 18px;
    color: #2c3e50;
  }
  
  .error-message {
    color: red;
    text-align: center;
  }
  
  .filtros-container {
    display: flex;
    justify-content: space-between; /* Mantém os itens separados */
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
  }
  
  .filtro-item {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    flex: 1; /* Faz com que os itens ocupem espaço proporcional */
  }
  
  .filtro-item label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .tipo-sanguineo-dropdown,
  .pesquisaCampo #pesquisa {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Faz com que o campo ocupe toda a largura */
  }
  
  .pesquisaCampo {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .pesquisaCampo input {
    padding-right: 2rem; /* Dá espaço para o ícone da lupa */
  }
  
  .lupaIcon {
    position: absolute;
    right: 10px;
    color: #666;
  }

  
  .usuarios-acoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
  }
  
  .usuarios-acoes p {
    margin: 0;
    font-size: 1rem;
    color: #333;
  }
  
  .notificacao-button {
    background-color: #0a93a1;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .checkbox-notification{
    width: 32px;
    height: 32px;
    align-self: center;
  }
  
  .notificacao-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .notificacao-button:hover:not(:disabled) {
    background-color: #087f8a;
  }
  
  .icon-visualizar {
  transition: color 0.3s;
}

.icon-visualizar:hover {
  color: #007b83; /* Cor mais escura ao passar o mouse */
}