.campanhas-container {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}
.campanhas-content{
    padding: 40px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.campanhas-container table{
    overflow: hidden;
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .campanhas-container thead{
    background-color: transparent;
    padding-right: 8px;
  }
  .campanhas-container thead tr{
    display: flex;
    background-color: #2d3e50;
    border-top-right-radius: 10px;
  }
  .campanhas-content td img{
    width: 194px;
    height: 242px;
    object-fit: cover;
  }
  .campanhas-container th{
    flex: 1;
    color: #FFF;
    position: relative;
  }
  .campanhas-container tr:has(td){
    display: flex;
    background-color: #FFF;
    transition: .3s;
  }
  .campanhas-container td {
    flex: 1;
    border-top: none;
    display: flex;
  }
  .campanhas-container tbody{
    max-height: 100%;
    overflow-y: auto;
  }
h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #2c3e50;
}


.edit-button {
    background-color: #18bc9c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.edit-button:hover {
    background-color: #16a085;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c0392b;
}

.error-message {
    color: #e74c3c;
    background-color: #fdecea;
    padding: 10px;
    border-radius: 5px;
}
