.pendencias-container {
    padding: 40px;
    overflow: hidden;
}

.pendencias-header{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.pendencias-header h2{
    margin: 0;
    color: #000;
}
.pendencias-header p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 1.4rem;
    color: #FFF;
    font-weight: 600;
    border-radius: 50%;
    background-color: #b20000;
}

.cards{
    gap: 10px;
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
}
.card{
    border-radius: 15px;
    background-color: #FFF;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.card:hover{
    cursor: pointer;
}
.card .baseInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card .baseInfo #hemoIcon{
    height: 124px;
    width: 124px;
    object-fit:cover;
    border-radius: 20px;
}
.card .baseInfo #info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 124px;
    padding-left: 24px;
}
.card .baseInfo #info h2{
    padding-bottom: 8px;
    color: #000;
    font-size: 1.5rem;
    margin: 0;
}
.card .baseInfo #info p{
    display: flex;
    align-items: center;
    gap: 5px;
}
.card .btns{
    display: flex;
    gap: 10px;
    margin-right: 12px;
}
.card .baseInfo svg {
    width: 24px;
    height: 24px;
}
.card .baseInfo button{
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    color: #FFF;
}
.card .baseInfo button:hover{
    cursor: pointer;
}
.card .baseInfo button#aceitarHemo{
    background-color: #007a86;
}
.card .baseInfo button#negarHemo{
    background-color: #b20000;
}
.card .cardInfo{
    color: #000;
    transition: .3s;
    overflow: hidden;
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

.approve-button {
    background-color: #18bc9c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.approve-button:hover {
    background-color: #16a085;
}

.error-message {
    color: #e74c3c;
    background-color: #fdecea;
    padding: 10px;
    border-radius: 5px;
}
