.cadastroModal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cadastroModal-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    width: 100vh;
    max-width: 90%;
    position: relative;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cadastroModal-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cadastroModal-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cadastroModal-foto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.cadastroModal-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.cadastroModal-input-select {
    width: 102%;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.cadastroModal-spinner-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.cadastroModal-sucess-message {
    color: #28a745;
    background-color: #d4edda;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.cadastroModal-error-message {
    color: #dc3545;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.cadastroModal-btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cadastroModal-btn {
    padding: 10px 20px;
    background-color: #0a93a1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

.cadastroModal-btn:hover {
    background-color: #086f79;
}

.cadastroModal-btn-voltar {
    padding: 10px 20px;
    background-color: #0a93a1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

.cadastroModal-btn-proximo {
    padding: 10px 20px;
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.cadastroModal-btn-proximo:hover {
    color: #086f79;
}

.cadastroModal-btn-relacionar {
    padding: 10px 20px;
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.cadastroModal-btn-relacionar:hover {
    color: #15cc0f;
}

.cadastroModal-steps {
    display: flex;
    justify-content: space-evenly;
}

.cadastroModal-step {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cadastroModal-step-icon {
    margin-right: 5px;
    font-size: 20px; /* Ajuste o tamanho conforme necessário */
}

.cadastroModal-step.active .cadastroModal-step-icon {
    color: #0a93a1; /* Cor do ícone ativo */
}

.espaco-para-baixo {
    margin-bottom: 20px;
}

.direita {
    display: flex;
    justify-content: end;
}

.webcam-preview {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.btn-capture,
.btn-cancel,
.btn-open-webcam {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #0a93a1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-capture:hover,
.btn-cancel:hover,
.btn-open-webcam:hover {
    background-color: #086f79;
}