/* Estilização do container da recepção */

.triagem-container {
    padding: 20px;
    margin-left: 15vh;
    margin-right: 10vh;
}

/* Título da página */
.triagem-title {
   
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Lista de senhas */
.triagem-senha-list {
    list-style: none;
    padding: 0;
    
}

/* Itens da lista de senhas */
.triagem-senha-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e9f5f9; /* Fundo claro */
    border-left: 5px solid #0a93a1; /* Cor de destaque na borda */
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo dos números de senhas */
.triagem-senha-numero {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Botão de chamar senha */
.triagem-chamar-btn {
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #0a93a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.triagem-chamar-btn:hover {
    background-color: #086f79;
}

/* Adiciona feedback ao passar o mouse nos itens da lista */
.triagem-senha-item:hover {
    background-color: #cdeaf3;
    cursor: pointer;
}

/* Botão de iniciar senha */
.triagem-iniciar-btn {
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #0aa153;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.triagem-iniciar-btn:hover {
    background-color: #087935;
}

