.triagensIniciadas-container {
    margin-left: 15vh;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.triagensIniciadas-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.triagensIniciadas-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaf4fc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.triagensIniciadas-senhaInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.triagensIniciadas-senhaNumero {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.triagensIniciadas-doadorNome {
    font-size: 18px;
    margin-left: 20px;
    color: #333;
}

.triagensIniciadas-btnRelatorio {
    background-color: #0a93a1;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-inline: 5px;
}

.triagensIniciadas-btnRelatorio:hover {
    background-color: #086f79;
}

.triagensIniciadas-btnAtestado {
    background-color: #d4a642; /* Tom avermelhado */
    color: #ffffff; /* Texto em tom mais escuro */
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-inline: 5px;
}

.triagensIniciadas-btnAtestado:hover {
    background-color: #a78438;
}


.triagensIniciadas-acoes {
    display: flex;
    flex-direction: row;
    
    align-items: flex-end;
}

.triagensIniciadas-statusSenha {
    font-size: 16px;
    
    color: #555;
    margin-bottom: 10px;
}

.triagensIniciadas-btnCancelar {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-inline: 5px;
}

.triagensIniciadas-btnCancelar:hover {
    background-color: #d32f2f;
}

.triagensIniciadas-btnEntrevista {
    background-color: #0aa153;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-inline: 5px;
}

.triagensIniciadas-btnEntrevista:hover {
    background-color: #087935;
}