.campanhas-content {
    padding: 20px;
}

.campanhas-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.campanha-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
