/* HemocentroDashboard.css */
.dashboard-container {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
}

.dashboard-content {
    flex-grow: 1;
    flex: 1;
    margin-left: 100px;
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.dashboard-metrics {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.estoque-container {
    height: 500px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}


.estoque-container ul {
    list-style: none;
    padding: 0;
}

.estoque-container li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

