.main-content{
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100%;
}
.login-container {
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex: 1;
  min-width: 100vw;
  height: 100vh;
  flex-direction: row;
  background-color: #FFF;
  }
  .side-img{
    flex:0.5;
    margin-right: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ED1C24;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.side-img img{
    width: 80%;
}
.side-img #wave{
    position: absolute;
    right: clamp(-100%,10vw,-172px);
    max-width: 172px;
    height: 100%;
    margin: 0;
}
.content{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 30px 120px;
}
.content h1{
    font-size: 2.5em;
}


  

  form{
    flex: 1;
    width: 100%;
}
form h3{
    margin-top: 10px;
    font-weight: 600;
}
/*Login Formulario*/
.form-login{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    transform-origin: top;
    animation: animateFormLogin 1s;
}

@keyframes animateFormLogin {
    from{
        opacity: 0;
        top: 25%;
    }
    to{
        opacity: 1;
        top: 0px;
    }
}

.form-login .error{
    color: #ED1C24;
}
/*Input Form*/
.inputDiv{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: text;
}

.inputDiv input{
    padding: 10px;
    padding-top: 24px;
    border: none;
    outline: none;
    font-family: Poppins;
    font-size: 1em;
    transition: 0.3s;
    background-color: transparent;
    border-radius: 5px;
}

.inputDiv label{
    font-weight: 600;
    transition: 0.2s;
    width: fit-content;
    padding: 0 5px;
    color: #000;
    cursor: text;
}
.inputDiv span{
    position: absolute;
    top: 0.3rem;
    right: 10px;
    color: #ED1C24;
}
.inputDiv label{
    position: absolute;
    top: 16px;
    left: 10px;
}
.inputDiv:has(input:focus){
    outline: solid #52AAB7 1px;
}

.inputDiv input:focus ~ label{
    top: 0.3rem;
    font-size: 0.9rem;
    color: #52AAB7;
}
.inputDiv input:not(:placeholder-shown):not(:focus) ~ label{
    top: 0.3rem;
    font-size: 0.9rem;
    color: #52AAB7;
}

.form-login button{
    padding: 15px 0;
    font-size: 1em;
    font-weight: 700;
    border: 0;
    background-color: #52AAB7;
    color: #FFF;
    border-radius: 5px;
    transition: ease-in 0.2s;
}

.form-login button:hover{
    background-color: #FFF;
    color: #52AAB7;
    outline: solid #52AAB7 2px;
    cursor: pointer;
}
.form-login a{
    text-decoration: none;
    color: black;
    text-align: center;
    transition: .3s;
}
.form-login a:hover{
    color: #224e55;
    transform: scale(1.125);
}