.metric-card {
    flex: 1 1 200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.metric-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.metric-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px 10px;
    color: #FFF;
    background-color: #077780;
    margin-bottom: 10px;
}

.metric-info h3 {
    font-size: 16px;
    color: #2c3e50;
}

.metric-info p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}