/* Container do Componente Hemocentros */
.hemocentros-container {
    max-width: 100vw;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

/* Título */
.hemocentros-container .titulo {
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
    margin-bottom: 20px;
    background-color: #FFF;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 2rem;
    color: #000;
}
.hemocentros-content .subTitulo{
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.hemocentros-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 30px;
    padding-bottom: 0;
    margin-left: 100px;

}


/*Hemocentros Com Mais Doações*/
.hemocentros-metrics{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 20px;
}
.hemocentros-metrics .hemocentroCard-tier{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.hemocentros-metrics .hemocentroCard-tier .posicaoRanking{
    position: absolute;
    left: -5px;
    top: -5px;
    background-color: #007a86;
    color: #fff;
    height: fit-content;
    width: 34px;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.hemocentros-metrics .hemocentroCard-tier img{
    width: 124px;
    height: 124px;
    object-fit: cover;
    border-radius: 5px;
}
.hemocentros-metrics .hemocentroCard-tier .info{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
.hemocentros-metrics .hemocentroCard-tier .info h2{
    margin: 0;
    font-size: 1.2rem;
    color: #000;
}
.hemocentros-metrics .hemocentroCard-tier .info h3{
    align-self: flex-end;
    display: flex;
    flex-direction: column;    
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 10px;
}
.hemocentros-metrics .hemocentroCard-tier .info h3 span{
    margin-top: -4px;
    font-size: 1.75rem;
    font-weight: 600;
    align-self: flex-end;
}

/*Barra de Pesquisa e Filtro*/
.pesquisaFiltroHemo{
    margin-top: 20px;
    padding-inline: 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.pesquisaFiltroHemo button, .pesquisaFiltroHemo .status{
    flex: 0.5;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #FFF;
    text-align: center;
    transition: .3s;
    cursor: pointer;
    font-weight: 500;
    color: #888;
    padding: 10px 0;
}
.pesquisaFiltroHemo button:hover{
    filter: brightness(0.95);
}
.pesquisaFiltroHemo button.active, .pesquisaFiltroHemo .status.active{
    background-color: #b4dee9;
    color: #007a86;
    font-weight: 700;
}
.pesquisaFiltroHemo .status{
    position: relative;
}
.pesquisaFiltroHemo .status .icon{
    position: absolute;
    right: 6px;
    top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
}
.pesquisaFiltroHemo .status .dropDown{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: #FFF;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.pesquisaFiltroHemo .status .dropDown button{
    border-radius: 0;
}
.pesquisaFiltroHemo .status button.filter-ativo{
    background-color: #18bc9c55;
    color: #18bc9c;
}
.pesquisaFiltroHemo .status button.filter-inativo{
    background-color: #e74c3c33;
    color: #e74c3c;
}
.pesquisaFiltroHemo .status button.filter-pendente{
    background-color: #da8f0355;
    color: #da8f03;
}
.pesquisaFiltroHemo .pesquisaCampo::before{
    content: "";
    display: block;
    position: absolute;
    left: -14px;
    width: 2px;
    height: 100%;
    background-color: #888;
}
.pesquisaFiltroHemo .pesquisaCampo{
    margin-left: 24px;
    position: relative;
    display: flex;
    flex: 1;
}
.pesquisaFiltroHemo .pesquisaCampo input{
    flex: 1;
    height: 100%;
    padding-left: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
}
.pesquisaFiltroHemo .pesquisaCampo input:focus{
    outline: 2px solid #007a86;
}
.pesquisaFiltroHemo .pesquisaCampo .lupaIcon{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}


/* Tabela de Hemocentros */
table.tableListaHemo {
    width: 100%;
    outline: none;
    border: none;
}
thead.headerListaHemo{
    background-color: transparent;
}
thead tr.headerLinhaListaHemo{
    display: flex;
}
thead th.headerCelulaListaHemo{
    background-color: transparent;
    color: #000;
}
thead th.imgCampo{
    width: 148px;
}
thead th.nomeCampo{
    flex: 1.5;
    border-left: 1px solid #ccc;
}
thead th.emailCampo, th.statusCampo{
    flex: 0.7;
    border-left: 1px solid #ccc;
}
th.statusCampo{
    flex: 0.75;

}
thead th.opcaoCampo{
    width: 154px;
    border-left: 1px solid #ccc;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    font-size: 1.1rem;
}


/* Mensagem de Carregando */
.loader {
    font-size: 1.5rem;
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
}

/* Mensagem de Erro */
.error-message {
    color: #e74c3c;
    background-color: #fcecec;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
    th, td {
        padding: 10px;
    }

    table {
        font-size: 0.9rem;
    }

    .hemocentros-container {
        padding: 10px;
    }
}

.cardsListagem{
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
    gap: 10px;
    flex: 1;
    overflow-x: visible;
    overflow-y: scroll;
    padding: 20px;
}
.deleteHemoBtn, .aceitarHemoBtn{
    background-color: transparent;
    position: relative;
}
.deleteHemoBtn svg, .aceitarHemoBtn svg{
    color: #ccc;
    transition: .2s;
}
.deleteHemoBtn::before{
    content: "";
    display: block;
    width: 2px;
    height: 58px;
    background: #ccc;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.deleteHemoBtn:hover svg{
    color: #c0392b;
}
.aceitarHemoBtn:hover svg{
    color: #007a86;
}

.emailCard, .statusCard{
    flex: 0.5;
    color: #888;
}
.statusCard{
    font-weight: 800;
    font-size: 1.1rem;
    text-transform: capitalize;
}
.statusCard.ativo{
    color: #18bc9c;
}
.statusCard.arquivado{
    color: #c0392b;
}
.statusCard.pendente{
    color: #da8f03;
}


dialog{
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    justify-self: center;
    border: none;
    outline: none;
    z-index: 10;
    width: fit-content;
    border-radius: 10px;
}
dialog #closeModalBtn{
    height: 52px;
    width: 52px;
    background-color: transparent;
    border: none;
    color: #FFF;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5px;
    top: 5px;
    cursor: pointer;
    font-size: 2rem;
}
dialog img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
dialog .header{
    display: flex;
    flex-direction: row;
}
dialog .header .info{
    padding: 20px;
}
dialog .header .info .nome{
    font-size: 2rem;
    font-weight: 600;
}
dialog .header .info .email{
    font-size: 1.25rem;
    font-weight: 600;
}
dialog .header .info .subTitulo{
    margin-top: 24px;
    font-size: 1.3rem;
    font-weight: 600;
}
dialog .header .info #disableHemoBtn{
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 15px;
    background-color: #dc3049;
    border: none;
    border-radius: 10px;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 5px 10px;
    cursor: pointer;
}
dialog .header .cards{
    flex-direction: column;
    padding: 0;
    gap: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0;
}

dialog .header .cards .cardHemo{
    box-shadow: none;
    gap: 20px;
}
dialog .header .cards .cardHemo.cardGraph{
    padding: 20px;
}